---
name: "Pipeline: Release"

on:
  release:
    types: [created]

env:
  IMAGE_TAG_EDGE: ${{ vars.IMAGE_TAG_EDGE }}
  IMAGE_TAG_LATEST: ${{ vars.IMAGE_TAG_LATEST }}
  REGISTRY: docker.io
  DOCS_PAGES_ARTIFACT: docs-page

jobs:

  docs-build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{github.ref}}
      - name: Build docs page
        run: docker compose up docs-build
        shell: bash
      - name: List contents
        run: ls -alF target/docs/site
        shell: bash
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          name: ${{ env.DOCS_PAGES_ARTIFACT }}
          path: target/docs/site

  docs-deploy:
    runs-on: ubuntu-latest
    needs: docs-build
    permissions:
      contents: read
      pages: write
      id-token: write # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
        with:
          artifact_name: ${{ env.DOCS_PAGES_ARTIFACT }}

  publish-release:
    runs-on: ubuntu-latest
    name: ${{ matrix.image-name }}
    permissions:
      contents: read
    strategy:
      matrix:
        image-name: ['devcontainer', 'folderslint', 'ftp-client', 'mkdocs', 'revealjs']
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Deploy to DockerHub
        env:
          DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
          IMAGE_NAME: ${{ matrix.image-name }}
          IMAGE_TAG_EDGE: ${{ env.IMAGE_TAG_EDGE }}
          IMAGE_TAG_LATEST: ${{ env.IMAGE_TAG_LATEST }}
        run: |
          TAG="${GITHUB_REF#refs/tags/}"
          TAG="${TAG#v}"
          echo "[INFO] New version tag = $TAG"

          SRC_IMAGE="$DOCKERHUB_USER/$IMAGE_NAME:$IMAGE_TAG_EDGE"

          TARGET_IMAGE="$DOCKERHUB_USER/$IMAGE_NAME:$TAG"
          docker buildx imagetools create --tag "$TARGET_IMAGE" "$SRC_IMAGE"

          TARGET_IMAGE="$DOCKERHUB_USER/$IMAGE_NAME:$IMAGE_TAG_LATEST"
          docker buildx imagetools create --tag "$TARGET_IMAGE" "$SRC_IMAGE"
        shell: bash
      - name: Update DockerHub description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ secrets.DOCKERHUB_USER }}/${{ matrix.image-name }}
          short-description: ${{ github.event.repository.description }}
          readme-filepath: components/${{ matrix.image-name }}/README.md

  docker-scout:
    name: ${{ matrix.image-name }}
    runs-on: ubuntu-latest
    needs: publish-release
    permissions:
      contents: read
      security-events: write
    strategy:
      matrix:
        image-name: ['devcontainer', 'folderslint', 'ftp-client', 'mkdocs', 'revealjs']
    steps:
      # - name: Checkout code
      #   uses: actions/checkout@v4
      - name: Get current date
        id: date
        run: echo "job_date=$(date +%Y-%m-%d)" >> "$GITHUB_OUTPUT"
        shell: bash
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Docker Scout - CVE Scan
        uses: docker/scout-action@v1.18.2
        with:
          command: cves
          image: ${{ env.REGISTRY }}/${{ secrets.DOCKERHUB_USER }}/${{ matrix.image-name }}:${{ env.IMAGE_TAG_LATEST }}
          sarif-file: sarif-output.json
          summary: false
          organization: ${{ secrets.DOCKERHUB_USER }}
      - name: Upload SARIF result
        id: upload-sarif
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: sarif-output.json
          category: 'Docker Scout CVEs - ${{ secrets.DOCKERHUB_USER }}/${{ matrix.image-name }}:${{ env.IMAGE_TAG_LATEST }}'
          checkout_path: components/${{ matrix.image-name }}
